<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="greeting">
        <h1><%= title %></h1>
        <h2>Hello <%= name %>, <%= date %></h2>
    </div>
    <div class="board">
        <div class="row">
            <div class="cell">
                <h2 class="char"><%= grid[0] %></h2>
            </div>
            <div class="cell">
                <h2 class="char"><%= grid[1] %></h2>
            </div>
            <div class="cell">
                <h2 class="char"><%= grid[2] %></h2>
            </div>
        </div>
        <div class="row">
            <div class="cell">
                <h2 class="char"><%= grid[3] %></h2>
            </div>
            <div class="cell">
                <h2 class="char"><%= grid[4] %></h2>
            </div>
            <div class="cell">
                <h2 class="char"><%= grid[5] %></h2>
            </div>
        </div>
        <div class="row">
            <div class="cell">
                <h2 class="char"><%= grid[6] %></h2>
            </div>
            <div class="cell">
                <h2 class="char"><%= grid[7] %></h2>
            </div>
            <div class="cell">
                <h2 class="char"><%= grid[8] %></h2>
            </div>
        </div>
    </div>
    <h1> <div id="winner"><%= winner %></div></h1>
    <button type="button" id="reset">Reset board</button>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/play.js"></script>
    <script>
        $('#reset')
        .click(function() {
            $('.char').each(function() {
                $(this).text(" ");
            });
            $('#winner').text('');
            //$.post("/ttt/play", {grid: "         ", winner: " "});
        });

        $('.cell')
        .click(function() {
            /*var selectedCell = 0;
            var a = $(this).find('h2');
            var b = ""
            $('.char').each(function() {
                if(a.is($(this))){
                    b = $(this).find('h2');
                    return false; // Break out of .each loop
                } else {
                    selectedCell++;
                }
            });
            console.log(selectedCell);*/

            var cellState = $(this).find('h2').text();
            if(cellState !== "X" && cellState !== "O"){
                $(this).find('h2').text("X");
                var grid = [];
                $('.char').each(function() {
                    grid.push($(this).text());
                });
                console.log(grid);
                
                var json = {'grid': grid};
                $.post("/ttt/play", json, function(data) {
                    console.log(data);
                    var winner = '';
                    var win = data.winner;
                    if(win === 'X'){
                        winner = "X Won";
                    } else if (win === 'O') {
                        winner = "O Won";
                    } else if (win === ' ') {
                        winner = "Tie"
                    }
                    $("#winner").text(winner);
                    var grid = data.grid;
                    var i = 0;
                    $('.char').each(function() {
                        $(this).text(grid[i]);
                        i++;
                    });
                }, json);
            }
        });
    </script>
  </body>
</html>
