<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="greeting">
        <h1><%= title %></h1>
        <h2>Hello <%= name %>, <%= date %></h2>
    </div>
    <div class="board">
        <div class="row">
            <div class="cell">
                <h2 class="char"><%= gameState[0] %></h2>
            </div>
            <div class="cell">
                <h2 class="char"><%= gameState[3] %></h2>
            </div>
            <div class="cell">
                <h2 class="char"><%= gameState[6] %></h2>
            </div>
        </div>
        <div class="row">
            <div class="cell">
                <h2 class="char"><%= gameState[1] %></h2>
            </div>
            <div class="cell">
                <h2 class="char"><%= gameState[4] %></h2>
            </div>
            <div class="cell">
                <h2 class="char"><%= gameState[7] %></h2>
            </div>
        </div>
        <div class="row">
            <div class="cell">
                <h2 class="char"><%= gameState[2] %></h2>
            </div>
            <div class="cell">
                <h2 class="char"><%= gameState[5] %></h2>
            </div>
            <div class="cell">
                <h2 class="char"><%= gameState[8] %></h2>
            </div>
        </div>
    </div>
    <h1>Winner: <%= winner %></h1>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/play.js"></script>
  </body>
</html>
